<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Phone Book</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>

<%= yield %>

<footer>Copyright Today</footer>
</body>
</html>
